:root {
  --font-body: 'Raleway', Arial, Helvetica, sans-serif;

  --font-headline: 'Graphik-Regular-Web', Arial, Helvetica, sans-serif;
  /* colors */
  --primary-color: #ff8000;
  --secondary-color: #00e054;
  --tertiary-color: #40bcf4;

  --dark-grey: #97A7B3;
  
  --light-grey: #1c1e20;
  --dark: #14181c;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

body {
    font-family: var(--font-body);
    font-size: var(--font-base);
    margin: 0;
    padding: 0;
    background-color: var(--dark);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--light-grey);
    color: var(--dark-grey);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
    color: var(--dark-grey);
    text-decoration: none;
}
#accBtn2:hover {
    color: var(--tertiary-color);
}
.action-button {
    margin-right: 10px; 
  }
  
  #userAccBtn {
    display: flex;
    align-items: center;
  }
  


a:hover {
    color: var(--primary-color);
}

header .logo {
    font-family: var(--font-headline);
    font-size: 1.5em;
}

header .search-bar {
    width: 50%;
    padding: 0.5em;
}

header .account {
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    /* background-color: var(--secondary-color); */
}


nav ul li {
    padding: 1em;
    cursor: pointer;
    color: var(--dark-grey);
}

main {
    padding: 1em;
    color: var(--dark-grey);
}

footer {
    text-align: center;
    background-color: var(--light-grey);
    color: var(--dark-grey);
    position: fixed;
    width: 100%;
    bottom: 0;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}

.random-quote {
    text-align: center;
    margin: 1em 0;
    font-family: var(--font-headline);
    border: 0.5px solid var(--secondary-color); 
    padding: 1em; 
    border-radius: 5px;
    animation: pulse 3s infinite; 
}

.popular-movies .slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    /* background-color: var(--tertiary-color); */
}

section {
    margin-bottom: 2em;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form button, form a {
    margin-bottom: 1em;
}

form input {
    padding: 0.5em;
    border: 1px solid var(--dark-grey);
    border-radius: 4px;
}

form button {
    padding: 0.5em;
    background-color: var(--secondary-color);
    color: var(--dark-grey);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#reviews div{
    background-color: var(--light-grey);
    /* border: 1px solid var(--primary-color); */

}

form a {
    text-decoration: none;
    color: var(--dark-grey);
    text-align: center;
}
.movie-details {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

#movie-info-details{
    margin: 12px;
}

#movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(158px, 1fr));
    gap: 1em;
    padding: 1em;
}

.movie-card {
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
    overflow: hidden;
    width: 158px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.movie-card a {
    display: block;
    text-decoration: none;
}

.movie-poster {
    display: block;
    width: 100%;
    height: 231px;
    transition: transform 0.3s ease-in-out;
}

.movie-card:hover .movie-poster {
    transform: scale(1.1);
}

#list-container {
    display: grid;
}

.review-box {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.rating {
    font-size: 24px;
    color: #e59819;
    margin-right: 20px;
}

.review-details {
    display: flex;
    flex-direction: column;
}

.review-title {
    margin-bottom: 10px;
}

.review-title strong {
    font-size: 18px;
}

.username, .review-date {
    font-size: 14px;
    color: #888888;
    margin-left: 10px;
}

.review-text {
    margin-bottom: 10px;
}

.review-feedback {
    font-size: 14px;
    color: #555555;
}

.review-feedback a {
    color: #0073bb;
    text-decoration: none;
}

.review-feedback a:hover {
    text-decoration: underline;
}

.sign-in {
    width: 100%;
    max-width: 400px;
    margin: 3em auto;
    padding: 2em;
    background-color: var(--light-grey);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sign-in h1 {
    font-family: var(--font-headline);
    font-size: var(--large-font);
    margin-bottom: 1em;
    color: var(--primary-color);
}

.sign-in button {
    color: white;
}

.form-group {
    margin-bottom: 1.5em;
    text-align: left;
}

.signup-link {
    margin-top: 1em;
}

.signup-link a {
    color: var(--tertiary-color);
    text-decoration: none;
}

.signup-link a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}